/***** Nav Styling *****/

nav {
  margin-top: 21px;

  header & {
    float: right;
    text-align: right;
  }

  & a {
    margin-right: 20px;
    font-size: 13px;
    color: #444;
    text-decoration: none;
  }

  & a:last-of-type {
    margin: 0;
  }
}