* { box-sizing: border-box; }

@import 'clearfix';
@import 'grid';
@import 'links';
@import 'header';
@import 'nav';
@import 'hero';
@import 'home';
@import 'about';
@import 'contact';
@import 'footer';
@import 'responsive';



body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

