* { box-sizing: border-box; }

/***** Clearfix ****/
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin ease ($time:333ms){
  transition: $time all ease-in-out;
}

/* Columns & Row */
.row {
  width: 90%;
  max-width: 800px;
  margin: 0 auto 20px;
  @include clearfix;
}

.column {
  float: left;
  /*margin-right: 2%;*/
}

.two-third {
  width: 65%;
}
.one-half {
  width: (100% / 2);
}
.one-third {
  width: 35%
}

.column:last-of-type {
  margin-right: 0;
}


body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
}

a {
  @include ease;
}

a:hover {
  color: #FB8B6F;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

/* Header */
header {
  background: #1abc9c;
  padding: 10px;
  margin-bottom: 20px;

/* Cancel the header margin on home page. */
body#home & {
  margin-bottom: 0;
}
}

header .row {
  margin-bottom: 0;
}

.logo {
  float: left;
  width: 65px;
}

/***** Nav Styling *****/

nav {
  margin-top: 21px;
}

header nav {
  float: right;
  text-align: right;
}

nav a {
  margin-right: 20px;
  font-size: 13px;
  color: #444;
  text-decoration: none;
}

nav a:last-of-type {
  margin: 0;
}


/***** Hero *****/
.hero {
  background: #ccc;
  background-image: url('https://unsplash.imgix.net/uploads/1411589183965bdf6e141/5f468e98?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero h1 {
  margin: 0;
  padding: 120px 0;
  color: white;
  text-shadow: 0 0 10px #444;
  text-align: center;
}

/***** Home Content *****/
.home_content h1 {
  padding:1.5em .6em .2em;
  margin:0;
}

.home_content p {
  padding:0em .9em 1em;
  margin:0;
}

/******* About Page *******/

.about_section h1 {
  padding:1.5em .6em .2em;
  margin:0;
}

.about_section p {
  padding:0em .9em 1em;
  margin:0;
}

.about_sidebar {
  border-left: 1px solid #444;
}

.about_sidebar h2 {
  padding:1.5em .7em .2em;
  margin:0;
}

.about_sidebar p {
  padding:0em 1em .2em;
  margin:0;
} 

/***** Contact Page *****/

.contact_section {
  background: white;
  min-height:90vh;
  overflow: auto;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact_section h1 {
  padding:1.5em .6em .2em;
  margin:0;
}

.contact_section p {
  padding:0em .9em 1em;
  margin:0;
}

.contact_map {
  background: white;
  min-height: 90vh;
  overflow: auto;
  border-left: 1px solid #444;
  box-sizing: border-box;

}

.map {
  width:90%;
  overflow: auto;
  margin: 0 auto;
  padding-top: 2.5em;
}

.map iframe {
  width: 100%;
}

/***** Footer *****/
footer {
  background: #ccc;
  padding: 5px 0; 
  font-size: 11px;
  text-align: center;
  clear: both;
}

/***** Responsive *****/
@media (max-width: 650px) {
  header {
    text-align: center;
  }

  .logo {
    float: none;
    width: 80px;
  }

  header nav {
    float: none;
    text-align: center;
  }

  .column {
    width: 100% !important;
    margin: 0;
    box-sizing: border-box;
  }

  /***** About-Sidebar Border *****/
  .about_sidebar:last-of-type {
    border-left: 0;
  }

  .about_sidebar h2:nth-child(1) {
    border-top: 1px solid #444;
  }

  /*****Contact Page *****/
  .contact_section {
    min-height: 40vh;
  }

  .contact_map {
    min-height: 40vh;
    margin-bottom: 3em;
  }

  .contact_map:last-of-type {
    border-left: 0;
  }
}





